{% extends 'base.html' %}

{% block content %}
<h2>Reports</h2>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bank Reconciliation Statement</h5>
                <button class="btn btn-primary">Generate Report</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Interest Report</h5>
                <button class="btn btn-primary">Generate Report</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TDS Report</h5>
                <button class="btn btn-primary">Generate Report</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Charges Report</h5>
                <button class="btn btn-primary">Generate Report</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pending Reconciliation Report</h5>
                <button class="btn btn-primary">Generate Report</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
